.overflow {
  overflow: auto;
}

.aboutPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: #e3e3e3;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headText {
  font-size: 30px;
  margin-top: 90rem;
}

.introText {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.section {
  margin: 20px auto;
  background-color: #2c353d;
  border-radius: 10px;
  padding: 15px;
}

.section > h2 {
  color: #e3e3e3;
  text-align: center;
  margin-bottom: 15px;
}

.endingText,
.seeYouText {
  padding: 20px 40px;
  text-align: center;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

.seeYouText {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20rem;
  position: relative;
  font-size: 30px;
}
