/* Styling for "contact-page" smaller screens up to 1048. */
@media (max-width: 1048px) {
  .contactPagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #2c353d;
    padding: 35px;
    color: #e3e3e3;
  }

  .contactform {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #1e252b;
    color: #c3bcbc;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    margin-top: 15px;
  }

  .formlabel {
    display: block;
    margin-bottom: 8px;
  }

  .forminput,
  .formtextarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #f3ebeb;
    border-radius: 4px;
  }
  li {
    list-style: none;
    font-size: 14px;
  }
  .sendbutton {
    background-color: #227443;
    color: #e3e3e3;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
}
/* Responsive design adjustments for larger screens  */
@media (min-width: 1048px) {
  h1 {
    margin-top: 18px;
  }

  .contactPagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #2c353d;
    padding: 10px;
    color: #e3e3e3;
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;

    max-width: 50%;
  }

  .contactform {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #f3ebeb;
    background-color: #1e252b;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .formlabel {
    display: block;
    margin-bottom: 5px;
  }

  .forminput,
  .formtextarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #f3ebeb;
    border-radius: 4px;
  }

  .sendbutton {
    background-color: #227443;
    color: #e3e3e3;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .sendbutton:hover {
    background-color: #68bb89;
  }
  li {
    list-style: none;
    font-size: 14px;
  }
}
