.categoryFilter {
  background-color: #262d34;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 54.1%;
  margin-top: 7rem;
}

.title {
  color: whitesmoke;
  margin-right: 20px;
}

.categories {
  display: flex;
  gap: 10px;
}

.category {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #262d34;
  color: whitesmoke;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.category.active {
  background-color: #227443;
}

.category:hover {
  cursor: pointer;
  background-color: #3b434c;
}

@media screen and (max-width: 590px) {
  .categories {
    flex-direction: column;
    align-items: start;
  }

  .categoryFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-shrink: 0;
  }

  .title {
    text-align: center;
  }
}
