/* DropdownMenu.module.css */
.dropdownContainer {
  position: relative;
  /* display: flex; */
}

.iconContainer {
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  top: 110%;
  right: 0;
  padding: 2px;
  background-color: #1e252b;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* z-index: 1; */
}
