.footerContainer {
  display: flex;
  width: 100%;
  padding: 46px 0px 21px 0px;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  background: var(--Dark-3, #262d34);
  color: #fff;
  /* position: fixed; */
}

.footerLinks {
  list-style-type: none;
  display: flex;
  gap: 44px;
}

a {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a:hover,
a:focus {
  color: #d7d7d7;
}

.footerText {
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
