.footerContainer {
  display: flex;
  width: 100%;
  padding: 20px 0px 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: var(--Dark-3, #262d34);
  color: #fff;
  position: fixed;
}

.footerLinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

a:hover,
a:focus {
  color: #d7d7d7;
}

.footerText {
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}
