.createPostContainer {
  display: flex;
  flex-direction: column;
  width: 54vw;
  height: 264px;
  min-width: 352px;
  padding: 20px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  border-radius: 16px;
  background: var(--Dark-3, #262d34);
  color: #858ead;
  margin-bottom: 25px;
  margin-top: 7rem;
}

.user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.name {
  flex: 1;
  padding: 12px 0px 12px 12px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--Dark-4, #2c353d);
  color: #fff;
  border: none;
}
.name::placeholder {
  color: #858ead;
}

.button {
  width: 112px;
  height: 44px;
  padding: 12px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #227443;
  color: var(--secondary-color-background, #fff);
  border: none;
}

.postOptions {
  width: 100%;
  padding: 12px 0px 12px 12px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--Dark-4, #2c353d);
  color: #858ead;
  border: none;
}

.postTextarea {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  height: 109px;
  padding: 10.939px 0px 10.939px 10.939px;
  align-items: flex-start;
  gap: 9.116px;
  resize: none;
  overflow: auto;
  border-radius: 5.47px;
  background: var(--Dark-4, #2c353d);
  color: #e3e3e3;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  border: none;
}

.postTextarea::placeholder {
  color: var(--secondary-color-secondary-4, #858ead);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}


.postList {
  display: flex;
  flex-direction: column;
  width: 54vw;
  height: 229px;
  min-width: 352px;
  padding: 20px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  background: var(--Dark-3, #262d34);
  color: #858ead;
  margin-bottom: 20px;
}

.post {
  text-align: justify;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 19px 15px;
  align-items: flex-start;
  resize: none;
  overflow: auto;
  border-radius: 5.47px;
  background: var(--Dark-4, #2c353d);
  color: #e3e3e3;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  border: none;
  height: 141px;
}


.postContainerHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.headerLikes {
  display: flex;
  align-items: center;
  gap: 19px;
}

.iconCircle {
  display: flex;
  width: 25px;
  height: 25px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--Dark-4, #2c353d);
}

